<h1> BBS </h1>

  <div class="users">
        <%= render 'shared/bbs' %>
  </div>




<!--
<ul class="users">
  <% @microposts.each do |micropost| %>
  <% user = User.find_by(id: micropost.user_id) %>
   <li>
    <%= gravatar_for user, size: 52 %>
    <%= link_to user.name, user %>
    <%= micropost.content %>
   </li>
  <% end %>
</ul>
-->
